@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
        local('Roboto'),
        local('Roboto-Regular'),
        url(./assets/fonts/roboto/Roboto-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
        local('Roboto Bold'),
        local('Roboto-Bold'),
        url(./assets/fonts/roboto/Roboto-Bold.ttf) format('TrueType');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src:
        local('Roboto Italic'),
        local('Roboto-Italic'),
        url(./assets/fonts/roboto/Roboto-Italic.ttf) format('TrueType');
}

@font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 400;
    src:
        local('Sansation'),
        local('Sansation-Regular'),
        url(./assets/fonts/sansation/Sansation-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    src:
        local('Sansation Bold'),
        local('Sansation-Bold'),
        url(./assets/fonts/sansation/Sansation-Bold.ttf) format('TrueType');
}

@font-face {
    font-family: 'Sansation';
    font-style: italic;
    font-weight: 400;
    src:
        local('Sansation Italic'),
        local('Sansation-Italic'),
        url(./assets/fonts/sansation/Sansation-Italic.ttf) format('TrueType');
}

@font-face {
    font-family: 'Windsong';
    src: 
        local('Windsong'),
        local('Windsong-Regular'),
        url(./assets/fonts/Windsong/Windsong.ttf) format('TrueType');
}

@font-face {
    font-family: 'Sofia';
    src: 
        local('Sofia'),
        local('Sofia-Regular'),
        url(./assets/fonts/sofia/Sofia-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src:
        local('Montserrat'),
        local('Montserrat-Regular'),
        url(./assets/fonts/montserrat/Montserrat-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src:
        local('Montserrat Bold'),
        local('Montserrat-Bold'),
        url(./assets/fonts/montserrat/Montserrat-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src:
        local('Montserrat Italic'),
        local('Montserrat-Italic'),
        url(./assets/fonts/montserrat/Montserrat-Italic.otf) format('opentype');
}